<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='img/fav.png') }}">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../static/css/menu.css"> -->
</head>
<body>
    <div class="main">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ url_for('main_menu') }}">
                    <img src="{{ url_for('static', filename='img/fav.png') }}" width="60" height="60" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('main_menu') }}">Management</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('report') }}">Report</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link disabled" href="#">Account</a>
                        </li> -->
                    </ul>
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary float-end">Logout</a>
            </nav>
            <div class="row">
                <div class="col-md-9 pe-4">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="box">
                                <div class="fw-bold">Revenue Today</div>
                                <div class="fw-bold fs-4">{{ total_amount_today }} VND</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box">
                                <div class="fw-bold">Seat Ongoing</div>
                                <div class="fw-bold fs-4">{{ total_activated }}</div>
                            </div>
                        </div>
                    </div>
                   <div class="row mt-3">
                    <div class="table-holder">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-3">Date</th>
                                    <th class="col-9">Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in revenue_data %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }} VND</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                   </div>
                </div>
                <div class="col-md-3 ">
                    <div class="row table-holder">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-6">Seat ID</th>
                                    <th class="col-6">Usage Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in datatop5 %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }} Times</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>